html,
body {
  height: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: $w-mobile;
  font-family: 'Lato', sans-serif;
  &.hidden{
    overflow: hidden;
  }
}
.content {
  flex: 1 0 auto;
  background-color: $gray-f7;
  color: $gray-41;
}
a{
  text-decoration: none;
}
input:focus,
textarea:focus,
button:focus{
  outline: none;
}
input[type=submit]{
  cursor: pointer;
}
textarea{
  resize: vertical;
}
button{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.container{
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  @media screen and (min-width: $w-mobile) {
    padding: 0 15px;
  }
  @media screen and (min-width: $w-tablet) {
    padding: 0 10px;
  }
  @media screen and (min-width: $w-desktop) {
    max-width: $w-desktop;
    margin: 0 auto;
  }
}
.bl-head{
  @media screen and (min-width: $w-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  @media screen and (min-width: $w-desktop) {
    justify-content: flex-start;
  }
  .bl-all{
    display: none;
    @media screen and (min-width: $w-tablet) {
      display: block;
    }
  }
}
.bl-footer{
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  @media screen and (min-width: $w-tablet) {
    display: none;
  }
  .bl-all{
    display: inline-block;
  }
}
.bl-ttl{
  font-family: Gilroy, sans-serif;
  font-weight: $extra-bold;
  font-size: 25px;
  line-height: 31px;
  @media screen and (min-width: $w-tablet) {
    font-size: 25px;
    line-height: 42px;
  }
  @media screen and (min-width: $w-desktop) {
    font-size: 30px;
    line-height: 30px;
    width: 435px;
  }
  &:after{
    content: '';
    display: block;
    margin-top: 18px;
    margin-bottom: 20px;
    background-color: $bordo-a9;
    height: 2px;
    width: 135px;
    @media screen and (min-width: $w-tablet) {
      margin-top: 5px;
      margin-bottom: 29px;
      width: 120px;
    }
    @media screen and (min-width: $w-desktop) {
      margin-top: 23px;
      margin-bottom: 32px;
      height: 3px;
      width: 140px;
    }
  }
}
.bl-ttl2{
  font-family: Gilroy, sans-serif;
  font-weight: $extra-bold;
  font-size: 25px;
  line-height: 31px;
  @media screen and (min-width: $w-tablet) {
    font-size: 25px;
    line-height: 42px;
  }
  @media screen and (min-width: $w-desktop) {
    font-size: 30px;
    line-height: 30px;
  }
  &:after{
    content: '';
    display: block;
    margin-top: 18px;
    margin-bottom: 20px;
    background-color: $bordo-a9;
    height: 2px;
    width: 135px;
    @media screen and (min-width: $w-tablet) {
      margin-top: 5px;
      margin-bottom: 29px;
      width: 120px;
    }
    @media screen and (min-width: $w-desktop) {
      margin-top: 23px;
      margin-bottom: 32px;
      height: 3px;
      width: 140px;
    }
  }
}
.bl-all{
  font-family: Lato, sans-serif;
  font-weight: $medium;
  font-size: 15px;
  padding: 0 40px;
  line-height: 44px;
  text-transform: uppercase;
  color: $white;
  position: relative;
  text-align: center;
  @media screen and (min-width: $w-tablet) {
    font-size: 10px;
    line-height: 27px;
    padding: 0 25px;
    flex: 0 0 auto;
    margin-right: 40px;
    margin-top: 12px;
  }
  @media screen and (min-width: $w-desktop) {
    margin-right: 0;
    font-size: 12px;
    line-height: 32px;
    margin-top: 3px;
    padding: 0 17px;
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $bordo-c1;
    transform: skew(-20deg);
    transition: .5s;
  }
  span{
    display: block;
    position: relative;
  }
  &:hover{
    &:before{
      box-shadow: $shadow-bordo2;
    }
  }
  &:active{
    &:before{
      background-color: $bordo-de;
    }
  }
}
.page-ttl{
  color: $gray-41;
  font-family: Gilroy, sans-serif;
  font-weight: $extra-bold;
  font-size: 25px;
  line-height: 31px;
  @media screen and (min-width: $w-tablet) {
    line-height: 41px;
  }
  @media screen and (min-width: $w-desktop) {
    font-size: 30px;
    line-height: 30px;
  }
  &:after{
    content: '';
    display: block;
    height: 2px;
    width: 135px;
    background-color: $bordo-a9;
    margin-top: 18px;
    @media screen and (min-width: $w-tablet) {
      width: 120px;
      margin-top: 7px;
    }
    @media screen and (min-width: $w-desktop) {
      width: 140px;
      margin-top: 23px;
    }
  }
}
.page-topline{
  @media screen and (min-width: $w-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: $w-desktop) {
    justify-content: flex-start;
  }
}
.page-filtr{
  padding-top: 38px;
  @media screen and (min-width: $w-tablet) {
    display: flex;
    padding-top: 0;
  }
  @media screen and (min-width: $w-desktop) {
    align-items: center;
  }
}
.ttl-center{
  font-family: Gilroy, sans-serif;
  font-weight: $extra-bold;
  font-size: 25px;
  line-height: 31px;
  color: $gray-41;
  @media screen and (min-width: $w-tablet) {
    font-size: 25px;
    line-height: 31px;
    text-align: center;
  }
  @media screen and (min-width: $w-desktop) {
    font-size: 30px;
    line-height: 30px;
  }
  &:after{
    content: '';
    display: block;
    height: 2px;
    width: 135px;
    background-color: $bordo-a9;
    margin-top: 20px;
    @media screen and (min-width: $w-tablet) {
      width: 120px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 11px;
    }
    @media screen and (min-width: $w-desktop) {
      width: 140px;
      margin-top: 24px;
    }
  }
}
.rub{
  font-family: PTRoubleSans;
}