.application-btn{
  border: 1px solid $white;
  color: $white;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  width: 100%;
  line-height: 60px;
  background-color: transparent;
  font-family: 'Gilroy', sans-serif;
  font-weight: $extra-bold;
  letter-spacing: 2px;
  @media screen and (min-width: $w-tablet) {
    color: $bordo-a9;
    font-size: 12px;
    background-image: url('images/app.svg');
    background-size: 72px 33px;
    background-repeat: no-repeat;
    background-position: top center;
    line-height: 14px;
    padding-top: 40px;
    height: 70px;
    border: none;
    width: 115px;
    padding-left: 6px;
  }
  @media screen and (min-width: $w-desktop) {
    background-color: $bordo-a9;
    color: $white;
    line-height: 58px;
    transition: .5s;
    width: 249px;
    background-image: none;
    padding-top: 0;
    height: 58px;
    padding-left: 0;
    font-size: 16px;
  }
  &:hover{
    @media screen and (min-width: $w-desktop) {
      box-shadow: $shadow-bordo;
    }
  }
  &:focus{
    @media screen and (min-width: $w-desktop) {
      background-color: $bordo-de;
    }
  }
  span{
    &:nth-child(2){
      margin-left: 5px;
      @media screen and (min-width: $w-tablet) {
        margin-left: 0;
      }
      @media screen and (min-width: $w-desktop) {
        margin-left: 5px;
      }
    }
    @media screen and (min-width: $w-tablet) {
      display: block;
    }
    @media screen and (min-width: $w-desktop) {
      display: inline;
    }
  }
}
.application-btn-footer{
  width: 100%;
  margin: 0 auto;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: $medium;
  color: $white;
  border: 1px solid $gray-ce;
  letter-spacing: 1.2px;
  @media screen and (min-width: $w-tablet) {
    width: 216px;
    font-size: 11px;
    line-height: 42px;
  }
  @media screen and (min-width: 960px) {
    width: 100%;
    font-size: 14px;
    line-height: 48px;
  }
}