//colors
$black: #000;
$white: #fff;

$gray-41: #414141;
$gray-23: #231f20;
$gray-8c: #8c8c8c;
$gray-69: #696969;
$gray-f7: #f7f7f7;
$gray-fe: #fefefe;
$gray-ce: #cecece;
$gray-e4: #e4e4e4;
$gray-4e: #4e4e4e;
$gray-c9: #c9d9dd;

$bordo-a9: #a90533;
$bordo-c1: #c1022f;
$bordo-de: #de0240;

$bgc: #b6ccd2;

//shabow
$shadow-gray: 0 13px 27px rgba(90, 90, 90, 0.1);
$shadow-bordo: 0 10px 10px rgba(169, 5, 51, 0.24);
$shadow-bordo2: 0 7px 10px rgba(193, 2, 47, 0.24);

//size
$w-desktop: 1280px;
$w-tablet: 680px;
//$w-tablet: 512px;
$w-mobile: 320px;

//width
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-w: 900;