.arenda{
  padding-top: 30px;
  @media screen and (min-width: $w-tablet) {
    overflow: hidden;
  }
  @media screen and (min-width: $w-desktop) {
    position: relative;
    overflow: visible;
  }
  &__tumblr{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
      position: absolute;
      right: 0;
      top: 88px;
      background-color: $white;
      box-shadow: $shadow-gray;
      padding: 20px;
      box-sizing: border-box;
    }
  }
  &__tumblr-grid,
  &__tumblr-list{
    width: 35px;
    height: 35px;
    display: block;
    background-image: url('images/grid-list.png');
    background-repeat: no-repeat;
  }
  &__tumblr-grid{
    background-position: 0 0;
    margin-bottom: 20px;
    &.active{
      background-position-x: -35px;
    }
  }
  &__tumblr-list{
    background-position: 0 -35px;
    &.active{
      background-position-x: -35px;
    }
  }
  &__sort{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
      width: 1100px;
      border-bottom: 1px solid $gray-e4;
      margin-bottom: 25px;
    }
  }
}
.arenda-grid{
  @media screen and (min-width: $w-tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  @media screen and (min-width: $w-desktop) {
    margin: 0;
  }
  &__item{
    margin-bottom: 50px;
    @media screen and (min-width: $w-tablet) {
      max-width: 310px;
      margin: 0 15px 50px;
    }
    @media screen and (min-width: $w-desktop) {
      margin-right: 100px;
      margin-left: 0;
      margin-bottom: 70px;
      max-width: 297px;
    }
  }
  &__head{
    box-shadow: $shadow-gray;
    margin-bottom: 20px;
    @media screen and (min-width: $w-desktop) {
      margin-bottom: 22px;
    }
  }
  &__img{
    @include bg-img(cover);
    width: 100%;
    height: 190px;
    display: block;
    position: relative;
    @media screen and (min-width: $w-desktop) {
      height: 225px;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) );
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
    }
  }
  &__ttl{
    position: relative;
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    color: $gray-41;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 13px;
    @media screen and (min-width: $w-desktop) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__inf{
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: $white;
    color: $bordo-a9;
  }
  &__inf-price1{
    font-size: 20px;
    line-height: 1;
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    @media screen and (min-width: $w-desktop) {
      font-size: 24px;
      margin-bottom: 4px;
    }
  }
  &__inf-price2{
    font-family: Lato, sans-serif;
    font-weight: $medium;
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    @media screen and (min-width: $w-desktop) {
      font-size: 12px;
    }
  }
  &__inf-size{
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 20px;
    line-height: 1;
    @media screen and (min-width: $w-desktop) {
      font-size: 24px;
    }
  }
  &__more{
    display: block;
    background-color: $bordo-a9;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 13px;
    height: 50px;
    line-height: 50px;
    transition: .5s;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      height: 58px;
      line-height: 58px;
      letter-spacing: 1.5px;
    }
    &:hover{
      @media screen and (min-width: $w-desktop) {
        box-shadow: $shadow-bordo;
      }
    }
    &:focus{
      @media screen and (min-width: $w-desktop) {
        background-color: $bordo-de;
      }
    }
  }
  &__prev{
    color: $gray-4e;
    font-family: Lato, sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 34px;
    }
    a{
      color: $bordo-a9;
      border-bottom: 1px solid $bordo-a9;
      &:hover{
        border-color: transparent;
      }
    }
  }
  &__prev-row{
    display: flex;
  }
  &__prev-c1{
    flex: 1 1 auto;
    span{
      display: inline-block;
      width: 100%;
      border-bottom: 1px dotted $gray-4e;
    }
  }
  &__prev-c2{
    text-align: right;
  }
}
.arenda-list{
  width: 1100px;
  &__item{
    display: flex;
    background-color: $white;
    box-shadow: $shadow-gray;
    margin-bottom: 50px;
    height: 255px;
    overflow: hidden;
  }
  &__img{
    display: block;
    @include bg-img(cover);
    width: 300px;
    height: 255px;
    flex: 0 0 auto;
  }
  &__body{
    padding: 30px 25px 10px 55px;
    flex: 1 1 auto;
  }
  &__ttl{
    font-size: 24px;
    line-height: 24px;
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    color: $gray-41;
    margin-bottom: 16px;
    display: inline-block;
  }
  &__cnt{
    border-top: 1px solid $gray-e4;
    padding-top: 20px;
    display: flex;
  }
  &__inf{
    color: $bordo-a9;
  }
  &__inf-price{
    margin-bottom: 10px;
  }
  &__inf-price1{
    font-size: 24px;
    line-height: 1;
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    margin-bottom: 5px;
  }
  &__inf-price2{
    font-family: Lato, sans-serif;
    font-weight: $medium;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
  }
  &__inf-size{
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 15px;
  }
  &__more{
    display: block;
    background-color: $bordo-a9;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 16px;
    height: 43px;
    line-height: 43px;
    letter-spacing: 1.5px;
    transition: .5s;
    &:hover{
      @media screen and (min-width: $w-desktop) {
        box-shadow: $shadow-bordo;
      }
    }
    &:focus{
      @media screen and (min-width: $w-desktop) {
        background-color: $bordo-de;
      }
    }
  }
  &__prev{
    width: 430px;
    margin-right: 75px;
    flex: 0 0 auto;
    color: $gray-4e;
    font-family: Lato, sans-serif;
    font-weight: $medium;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 34px;
    a{
      color: $bordo-a9;
      border-bottom: 1px solid $bordo-a9;
      &:hover{
        border-color: transparent;
      }
    }
  }
  &__prev2{
    flex: 1 1 auto;
  }
  &__prev-row{
    display: flex;
  }
  &__prev-c1{
    flex: 1 1 auto;
    span{
      display: inline-block;
      width: 100%;
      border-bottom: 1px dotted $gray-4e;
    }
  }
  &__prev-c2{
    text-align: right;
  }
}