.filtr{
  width:100%;
  min-height:100%;
  background-color: $white;
  overflow:hidden;
  position:fixed;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  z-index: 9;
  display: none;
  @media screen and (min-width: $w-desktop) {
    display: block !important;
    position: unset;
    overflow: unset;
  }
  &__line1{
    margin-bottom: 30px;
    @media screen and (min-width: $w-tablet) {
      display: flex;
      justify-content: space-between;
    }
    @media screen and (min-width: $w-desktop) {
      margin-bottom: 14px;
    }
  }
  &__line2{
    @media screen and (min-width: $w-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 34px 30px;
    background-color: $white;
    overflow: auto;
    position: relative;
    @media screen and (min-width: $w-tablet) {
      padding-right: 20px;
      padding-left: 20px;
    }
    @media screen and (min-width: $w-desktop) {
      max-width: $w-desktop;
      margin: 0 auto;
      padding: 27px 0 18px;
      overflow: unset;
      width: auto;
      height: auto;
      position: unset;
    }
  }
  &__close{
    position: absolute;
    right: 55px;
    top: 37px;
    background-image: url('images/close-red.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
    @media screen and (min-width: $w-desktop) {
      display: none;
    }
  }
  &__ttl{
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 25px;
    line-height: 31px;
    &:after{
      content: '';
      display: block;
      height: 2px;
      width: 135px;
      background-color: $bordo-a9;
      margin-bottom: 26px;
      margin-top: 17px;
    }
    @media screen and (min-width: $w-desktop) {
      display: none;
    }
  }
  &__range-bl{
    margin-bottom: 20px;
    @media screen and (min-width: $w-tablet) {
      width: 48%;
    }
    @media screen and (min-width: $w-desktop) {
      width: 23%;
    }
  }
  &__range{
    height: 4px;
    border: 0 !important;
    background: $gray-c9;
    @media screen and (min-width: $w-desktop) {

    }
    .ui-slider-range{
      background: $gray-c9;
    }
    .ui-slider-handle{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $white;
      opacity: 1;
      border: 2px solid $bordo-a9;
      @media screen and (min-width: $w-desktop) {

      }
      &:focus{
        outline: none;
      }
    }
  }
  &__range-obj{
    margin-bottom: 10px;
  }
  &__range-val{
    display: flex;
    cursor: default;
  }
  &__range-ttl{
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    color: $gray-41;
    @media screen and (min-width: $w-desktop) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__range-label{
    font-family: Lato, sans-serif;
    font-weight: $medium;
    font-size: 16px;
    line-height: 31px;
    color: $gray-4e;
    opacity: .5;
    margin-right: 10px;
  }
  &__range-inp{
    font-family: Lato, sans-serif;
    font-weight: $medium;
    font-size: 16px;
    line-height: 31px;
    color: $gray-4e;
    border: 1px solid $gray-c9;
    padding: 0 10px;
    margin-right: 10px;
  }
  &__submit{
    width: 100%;
    @media screen and (min-width: $w-tablet) {
      width: 48%;
    }
    @media screen and (min-width: $w-desktop) {
      width: 20%;
    }
  }
  &__submit-btn{
    background-color: $bordo-a9;
    color: $white;
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 14px;
    line-height: 50px;
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: .5s;
    border: none;

    &:hover{
      @media screen and (min-width: $w-desktop) {
        box-shadow: $shadow-bordo;
      }
    }
    &:focus{
      @media screen and (min-width: $w-desktop) {
        background-color: $bordo-de;
      }
    }
  }
  &__reset-btn{
    text-align: center;
    color: $bordo-a9;
    text-decoration: underline;
    padding: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }
  &__select-dt{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
      padding-top: 9px;
    }
  }
  &__select{
    &_dt{
      @media screen and (min-width: $w-desktop) {
        display: none;
      }
    }
  }
  &__select-bl{
    margin-bottom: 15px;
    @media screen and (min-width: $w-tablet) {
      width: 30%;
      flex: 0 0 auto;
    }
    @media screen and (min-width: $w-desktop) {
      width: auto;
    }
  }
  &__select-label{
    font-family: Lato, sans-serif;
    font-weight: $medium;
    font-size: 16px;
    line-height: 25px;
    color: $gray-4e;
    opacity: .5;
    margin-right: 10px;
  }
  &__select-ttl{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
      font-family: Gilroy, sans-serif;
      font-size: 20px;
      line-height: 24px;
      font-weight: $extra-bold;
      margin-bottom: 14px;
    }
  }
}
.select{
  position: relative;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  @media screen and (min-width: $w-tablet) {
    height: 41px;
  }
  @media screen and (min-width: $w-desktop) {
    height: 43px;
    width: 240px;
  }
  &__selected{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    background-color: $white;
    border: 1px solid $bordo-a9;
    color: $bordo-a9;
    font-size: 18px;
    line-height: 45px;
    font-family: Lato, sans-serif;
    font-weight: $medium;
    cursor: pointer;
    text-align: center;
    padding-right: 30px;
    @media screen and (min-width: $w-tablet) {
      font-size: 15px;
      height: 41px;
      line-height: 41px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 18px;
      height: 43px;
      line-height: 41px;
      border-width: 2px;
    }
  }
  &__list{
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;
    max-height: 500px;
    overflow-y: auto;
    background-color: $white;
    border: 1px solid $gray-ce;
    box-shadow: $shadow-gray;
    z-index: 3;
    padding: 15px 25px;
    display: none;
    @media screen and (min-width: $w-desktop) {
      top: 50px;
      padding: 15px 30px;
      width: 400px;
      right: auto;
      left: 0;
    }
    &::-webkit-scrollbar{
      width: 4px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: $bordo-c1;
    }
  }
  &__option{
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 14px;
    line-height: 15px;
    color: $bordo-a9;
    border-bottom: 1px solid $gray-e4;
    display: block;
    text-transform: uppercase;
    padding: 13px 0;
    @media screen and (min-width: $w-tablet) {
      font-size: 14px;
      line-height: 15px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 16px;
      padding: 15px 0;
    }
    &_all{
      color: $gray-23;
    }
    &:last-of-type{
      border-bottom: none;
    }
  }
  &:after{
    content: '';
    position: absolute;
    top: 19px;
    right: 18px;
    background-image: url('images/drop-bordo.png');
    background-size: 11px 6px;
    background-repeat: no-repeat;
    display: block;
    width: 11px;
    height: 6px;
    transition: .5s;
    @media screen and (min-width: $w-tablet) {
      top: 17px;
    }
    @media screen and (min-width: $w-desktop) {
      top: 20px;
      right: 20px;
    }
  }
  &.open{
    &:after{
      transform: rotate(-180deg);
    }
  }
  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &__checkbox + label {
    position: relative;
    cursor: pointer;
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 14px;
    line-height: 15px;
    color: $bordo-a9;
    display: flex;
    padding-left: 30px;
    @media screen and (min-width: $w-tablet) {
      font-size: 14px;
      line-height: 15px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 16px;
      padding-left: 35px;
    }
  }
  &__option_all{
    label {
      color: $gray-23;
    }
  }
  &__checkbox + label{
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 13px;
      height: 13px;
      border: 1px solid $gray-8c;
      background: transparent;
      font-size: 0;
      line-height: 0;
    }
    &:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 9px;
      height: 9px;
      transition: .2s;
    }
  }
  &__checkbox:checked + label:after {
    background: $bordo-a9;
  }
}
.select-dt{
  display: flex;
  &__option{
    color: $bordo-a9;
    font-size: 18px;
    font-family: Lato, sans-serif;
    font-weight: $medium;
    position: relative;
    padding: 0 15px;
    line-height: 32px;
    margin-right: 5px;
    cursor: pointer;
    transition: .5s;
    span{
      position: relative;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      transform: skew(-20deg);
      border: 2px solid $bordo-c1;
      transition: .5s;
    }
  }
  &__del{
    width: 16px;
    height: 16px;
    background-image: url('images/del.png');
    display: none;
    cursor: pointer;
  }
  &__item{
    display: flex;
    align-items: center;
    margin-right: 10px;
    &.selected{
      .select-dt__option{
        color: $white;
        &:before {
          background-color: $bordo-a9;
        }
      }
      .select-dt__del{
        display: block;
      }
    }
  }

}
