.object{
  position: relative;
  padding-bottom: 10px;
  display: block;
  max-width: 400px;
  margin: 0 auto 40px;
  @media screen and (min-width: $w-tablet) {
    max-width: none;
    width: 310px;
  }
  @media screen and (min-width: $w-desktop) {
    width: 540px;
  }
  &:before{
    content: '';
    position: absolute;
    border: 2px solid $gray-c9;
    right: 0;
    top: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 30px);
    @media screen and (min-width: $w-tablet) {
      width: calc(100% - 40px);
    }
    @media screen and (min-width: $w-desktop) {
      width: calc(100% - 145px);
      right: 40px;
      top: 60px;
      height: calc(100% - 65px);
    }
  }
  &__cnt{
    position: relative;
    z-index: 1;
    margin-right: 10px;
    @media screen and (min-width: $w-desktop) {
      padding-left: 30px;
      margin-right: 50px;
    }
  }
  &__img{
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
    height: 120px;
    width: 100%;
    @media screen and (min-width: $w-desktop) {
      height: 210px;
    }
  }
  &__ttl{
    color: $bordo-a9;
    font-size: 17px;
    line-height: 20px;
    padding: 15px 0;
    font-weight: $extra-bold;
    font-family: Gilroy, sans-serif;
    text-transform: uppercase;
    background-color: $white;
    @media screen and (min-width: $w-tablet) {
      font-size: 15px;
      line-height: 20px;
    }
    @media screen and (min-width: $w-desktop) {
      padding-left: 12px;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 2px;
    }
  }
  &__num{
    display: none;
    @media screen and (min-width: $w-desktop) {
      color: $gray-e4;
      line-height: 31px;
      font-weight: $extra-bold;
      font-family: Gilroy, sans-serif;
      position: absolute;
      left: 0;
      bottom: 20px;
      width: 90px;
      display: flex;
      align-items: center
    }
  }
  &__desctiption{
    display: none;
    margin-left: 67px;
    @media screen and (min-width: $w-tablet) {
      display: block;
      position: relative;
    }
    @media screen and (min-width: $w-desktop) {
      column-count: 2;
      margin-left: 100px;
      padding-top: 5px;
    }
    &:before{
      @media screen and (min-width: $w-tablet) {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-color: $white;
        border: 2px solid $gray-c9;
        position: absolute;
        left: -67px;
        top: 0;
        background-image: url('images/arr-gray.png');
        @include bg-img(8px 14px);
      }
      @media screen and (min-width: $w-desktop) {
        left: -87px;
        width: 30px;
        height: 30px;
        background-size: 13px 21px;
      }
    }
  }
  &__desctiption-bl{
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-right: 10px;
    font-family: Lato-Heavy, sans-serif;
    color: $gray-41;
    @media screen and (min-width: $w-desktop) {
      font-size: 10px;
      line-height: 16px;
    }
  }
}