.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  &__item{
    width: 49px;
    height: 38px;
    margin: 0 4px;
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 23px;
    line-height: 38px;
    text-align: center;
    position: relative;
    @media screen and (min-width: $w-desktop) {
      height: 32px;
      width: 43px;
      font-size: 18px;
      line-height: 32px;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      transform: skew(-20deg);
      border: 1px solid $bordo-c1;
      transition: .5s;
      @media screen and (min-width: $w-tablet) {
        border-width: 2px;
      }
    }
    span{
      color: $bordo-c1;
      position: relative;
    }
    &.active{
      &:before{
        background-color: $bordo-c1;
      }
      span{
        color: $white;
      }
    }
    &:hover{
      &:before{
        box-shadow: $shadow-bordo2;
      }
    }
  }
  &__more{
    color: $bordo-c1;
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 23px;
    line-height: 38px;
    text-align: center;
    width: 49px;
    @media screen and (min-width: $w-desktop) {
      height: 32px;
      width: 43px;
      font-size: 18px;
      line-height: 32px;
    }
  }
}