.modal-form.modal#feedback
    .form
        ._head
            ._ttl Напишите нам
        ._body
            form._form
                ._fields
                    ._row.-w50
                        input._input(type="text" placeholder="имя")
                    ._row.-w50
                        input._input(type="tel" placeholder="телефон")
                    ._row.-w50
                        input._input(type="email" placeholder="e-mail")
                    ._row
                        textarea._textarea(placeholder="сообщение")
    button._close(type="button" data-izimodal-close="") X