script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
script.
    var center = [64.53522455736649,40.52510449999986];
    if (window.matchMedia('(min-width: 680px)').matches) {
        center = [64.53521532001317,40.528237320129264];
    }
    ymaps.ready(init);
    function init () {
        var map = new ymaps.Map("map", {
            center: center,
            zoom: 17,
            controls: []
        });
        var placemark = new ymaps.Placemark([64.53522455736649,40.52510449999986], {
            balloonContent: '163000, Архангельск, ул. Поморская, д. 7',
        }, {
            iconLayout: 'default#image',
            iconImageHref: 'images/pin-red.png',
            iconImageSize: [28, 41],
            iconImageOffset: [-16,-41]
        });
        map.geoObjects.add(placemark);
    }