.news-one
    a._img(href="#" style="background-image:url('https://picsum.photos/600')")
        ._date
            ._date-d 20
            ._date-m дек
    a._ttl(href="#") В бильярдном клубе «Аристократ» состоялся бильярдный турнир
    ._prev.
        9 декабря на территории бильярдного клуба «Аристократ» в ТРК «Титан Арена» прошел бильярдный турнир по «комбинированной пирамиде». Здесь собрались поистине короли бильярда. По мнению участников и гостей ...
    a._more(href="#") Читать полностью