.object-one(href="#")
    ._head
        a._img(href="#" style="background-image:url('https://picsum.photos/500')")
            ._ttl Большое  торговое помещение на 3 этаже Титан-Арена
        ._inf
            ._inf-price
                ._inf-price1 198 000 Р
                ._inf-price2 месяц
            ._inf-size 200 м<sup>2</sup>
    ._prev
        ._prev-row
            ._prev-c1
                span тип
            ._prev-c2 Тоговое помещение
        ._prev-row
            ._prev-c1
                span этаж
            ._prev-c2 3 этаж
        ._prev-row
            ._prev-c1
                span адрес
            ._prev-c2
                a(href="#") Титан арена<br>Воскресенская, 20
    a._more(href="#") Подробнее