.pagination
    ._item.active(href="#")
        span 1
    a._item(href="#")
        span 2
    a._item(href="#")
        span 3
    a._item(href="#")
        span 4
    ._more ...
    a._item(href="#")
        span 14