footer.footer
    ._container.container
        ._line1
            ._c1
                ._logo
            ._c2
                ._menu
                    .footer-menu
                        ul._ul
                            li._li
                                a._link(href="#") О компании
                            li._li
                                a._link(href="#") Новости
                            li._li
                                a._link(href="#") СМИ о нас
                        ul._ul
                            li._li
                                a._link(href="#") Объекты
                            li._li
                                a._link(href="#") Аренда
                            li._li
                                a._link(href="#") Контакты
                ._desktop-application
            ._c3
                ._contacts
                    ._contacts-line.-addr г. Архангельск, ул. Поморская, д. 7
                    ._contacts-line.-tel
                        a(href="tel:8182207485") (8182) 20-74-85
                        a(href="tel:8182207485") (8182) 21-13-74
                    ._contacts-line.-email
                        a(href="mailto:office@tdevelop.ru") office@tdevelop.ru
                ._application
                    button.application-btn-footer(type="button" data-izimodal-open="#feedback") Обратная связь
                ._desktop-ss

        ._line2
            ._info.
                Титан девелопмент— первая в Архангельске девелоперская компания,  которая специализируется на всем комплексе девелопмента
            ._ss
                .ss-list
                    a.ss-item(href="#")
                        i.fab.fa-facebook-f
                    a.ss-item(href="#")
                        i.fab.fa-vk
                    a.ss-item(href="#")
                        i.fab.fa-instagram
            ._developers
                a._developers-link(href="#")
                    span.
                        создание сайта<br>
                        digital-агентство f5
            ._tablet-application