header.header
    ._container.container
        ._logo.-sm
            a._logo-img.-sm(href="/" style="background-image:url('images/logo@2x.png')")
        ._menu
            ._menu-bl.js-menu
                button._menu-close.js-menu-close
                ._menu-container
                    include ../blocks/_header-menu
                ._contacts-m
                    .contacts-header
                        .contacts-bl
                            .contact-line.contact-line_tel
                                a(href="tel:8182207485") (8182) 20-74-85
                            .contact-line.contact-line_email
                                a(href="mailto:office@tdevelop.ru") office@tdevelop.ru
                        .contacts-bl
                            .contact-line.contact-line_pin Архангельск
                            .contact-line.contact-line_building Поморская, 7
                ._application-m
                    button.application-btn(type="button" data-izimodal-open="#feedback")
                        span Заявка
                        span на аренду
            ._menu-btn
                .burger-icon.js-menu-btn
                    - for (var i=0;i<=3;i++)
                        span
                ._menu-ttl меню
        ._contacts-d
            .contact-d
                ._tel
                    a(href="tel:8182207485") (8182) 20-74-85
                ._email
                    a(href="mailto:office@tdevelop.ru") office@tdevelop.ru
        ._application