include ../mixins/_mixins

doctype html
html
    block sharedVars
    head
        block title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" href="images/favicon.ico")
        //- <!--[if IE 8]>script(src='/ie.js')<![endif]-->
        include _head_style
        include _scripts
    body
        .wrapper

            .content
                - if (activeMenu == 'Главная')
                    include _header-index
                - else
                    include _header
                //end header

                block content

                include ../popups/_feedback
                include ../popups/_cookies
            //end content

            include _footer
            //end footer
        //end wrapper