.page-detail{
  padding-top: 27px;
  @media screen and (min-width: $w-tablet) {
    padding-top: 22px;
  }
  @media screen and (min-width: $w-desktop) {
    padding-top: 58px;
  }
}
.page-detail-ttl{
  padding-bottom: 30px;
  @media screen and (min-width: $w-tablet) {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .page-ttl{
    margin-bottom: 20px;
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: $w-desktop) {
      margin-bottom: 35px;
    }
  }
}
.detail-photo-bl{
  @media screen and (min-width: $w-desktop) {
    width: $w-desktop;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 54px;
  }
}
.detail-content-bl{
  margin-bottom: 60px;
  @media screen and (min-width: $w-tablet) {
    margin-bottom: 37px;
  }
}
.detail-similar-bl{
  padding-bottom: 39px;
}

.back-to{
  display: inline-block;
  height: 32px;
  position: relative;
  @media screen and (min-width: $w-tablet) {
    height: 27px;
  }
  @media screen and (min-width: $w-desktop) {
    height: 32px;
  }

  &:before{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    transform: skew(-20deg);
    background-color: $bordo-c1;
    transition: .5s;
  }
  span{
    color: $white;
    position: relative;
    font-family: Lato, sans-serif;
    font-weight: $medium;
    font-size: 12px;
    line-height: 32px;
    height: 32px;
    padding: 0 23px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    @media screen and (min-width: $w-tablet) {
      line-height: 27px;
      font-size: 10px;
      height: 27px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 12px;
      line-height: 32px;
      height: 32px;
    }
  }
}
.detail-content{
  @media screen and (min-width: $w-tablet) {
    display: flex;
    align-items: flex-start;
  }
}
.detail-txt{
  color: $gray-4e;
  font-family: Lato, sans-serif;
  font-weight: $medium;
  font-size: 14px;
  line-height: 23px;
  @media screen and (min-width: $w-tablet) {
    font-size: 12px;
    line-height: 18px;
    flex: 1 1 auto;
  }
  @media screen and (min-width: $w-desktop) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 27px;
  }
  p{
    margin-bottom: 23px;
  }
  a{
    color: $bordo-a9;
    border-bottom: 1px solid $bordo-a9;
    &:hover{
      text-decoration: none;
    }
  }
}
.detail-plan{
  background-color: $white;
  box-shadow: $shadow-gray;
  width: 100%;
  margin-bottom: 35px;
  padding: 30px 10px 20px;
  box-sizing: border-box;
  @media screen and (min-width: $w-tablet) {
    width: 310px;
    margin-bottom: 0;
    flex: 0 0 auto;
    margin-left: 20px;
    order: 1;
  }
  @media screen and (min-width: $w-desktop) {
    width: 460px;
    padding-top: 44px;
    padding-bottom: 30px;
  }
  &__ttl{
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 23px;
    line-height: 1;
    margin-bottom: 30px;
    color: $gray-4e;
    text-align: center;
    @media screen and (min-width: $w-tablet) {
      font-size: 18px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 24px;
    }
  }
  &__img{
    width: 100%;
    text-align: center;
    padding: 0 50px;
    box-sizing: border-box;
    img{
      max-width: 100%;
    }
  }
}
.detail-map-bl{
  position: relative;
  margin-bottom: 50px;
  @media screen and (min-width: $w-tablet) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: $w-desktop) {
    margin-bottom: 60px;
  }
  &__map{
    position: relative;
    height: 200px;
    width: 100%;
    @media screen and (min-width: $w-tablet) {
      height: 287px;
    }
    @media screen and (min-width: $w-desktop) {
      height: 460px;
    }
  }
  &__container{
    position: relative;
    width: 100%;
    background-color: $bordo-a9;
    padding: 35px 30px 20px;
    box-sizing: border-box;
    background-image: url('images/bg3.png');
    background-repeat: repeat;
    background-position: center top;
    @media screen and (min-width: $w-tablet) {
      width: 340px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 39px 38px 10px;
    }
    @media screen and (min-width: $w-desktop) {
      width: 550px;
      padding: 59px 80px 10px;
    }
  }
  &__inf-bl{
    color: $white;
    margin-bottom: 10px;
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 25px;
    }
    @media screen and (min-width: $w-desktop) {
      margin-bottom: 37px;
    }
  }
  &__inf-ttl{
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 18px;
    line-height: 24px;
    @media screen and (min-width: $w-tablet) {
      font-size: 15px;
      line-height: 20px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  &__inf-contacts{
    font-family: Lato, sans-serif;
    font-weight: $regular;
    font-size: 16px;
    line-height: 30px;
    padding-left: 17px;
    @media screen and (min-width: $w-tablet) {
      font-size: 14px;
      line-height: 24px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 22px;
      line-height: 36px;
    }
  }
}
.arenda-head{
  width: 100%;
  @media screen and (min-width: $w-tablet) {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: $w-desktop) {
    width: 700px;
    flex: 0 0 auto;
  }
  &__img{
  width: 100%;
  height: 250px;
  @include bg-img(cover);
    @media screen and (min-width: $w-tablet) {
      height: 330px;
      width: 65%;
      flex: 0 0 auto;
    }
    @media screen and (min-width: $w-desktop) {
      width: 480px;
      height: 460px;
    }
  }
  &__inf{
    background-color: $white;
    padding: 20px 30px 30px;
    @media screen and (min-width: $w-tablet) {
      flex: 1 1 auto;
      position: relative;
      padding: 25px 27px 0;
    }
    @media screen and (min-width: $w-desktop) {
      padding: 40px 30px 0;
    }
  }
  &__btn{
    background-color: $bordo-a9;
    width: 100%;
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 13px;
    line-height: 49px;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 1.5px;
    @media screen and (min-width: $w-tablet) {
      position: absolute;
      bottom: 27px;
      left: -83px;
      border: 4px solid #fff;
      line-height: 47px;
    }
    @media screen and (min-width: $w-desktop) {
      border-width: 5px;
      font-size: 16px;
      line-height: 56px;
      padding: 0 45px;
      width: auto;
    }
  }
  &__inf-list{
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: $w-tablet) {
      display: block;
    }
  }
  &__inf-ttl{
    font-family: Lato, sans-serif;
    font-weight: $medium;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: $bordo-a9;
    width: 50%;
    flex: 0 0 auto;
    order: 2;
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 10px;
      width: 100%;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 35px;
    }
  }
  &__inf-bl{
    margin-bottom: 13px;
    width: 50%;
    flex: 0 0 auto;
    order: 2;
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 5px;
      width: 100%;
    }
    @media screen and (min-width: $w-desktop) {
      margin-bottom: 18px;
    }
    &:nth-child(2){
      order: 1;
    }
  }
  &__inf-sz{
    font-family: Gilroy, sans-serif;
    font-weight: $extra-bold;
    font-size: 25px;
    line-height: 1;
    color: $bordo-a9;
    @media screen and (min-width: $w-tablet) {
      font-size: 27px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 30px;
    }
    .from{
      color: $gray-ce;
      font-size: 18px;
    }
  }
  &__inf-lb{
    font-family: Lato, sans-serif;
    font-weight: $medium;
    font-size: 11px;
    line-height: 24px;
    color: $bordo-a9;
    text-transform: uppercase;
  }
}
.detail-gallery{
  @media screen and (min-width: $w-desktop) {
    width: 480px;
    flex: 0 0 auto;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    @media screen and (min-width: $w-tablet) {
      padding: 10px 10px 23px;
    }
    @media screen and (min-width: $w-desktop) {
      padding: 0;
    }
  }
  &__item{
    width: 49%;
    height: 145px;
    @include bg-img(cover);
    display: block;
    margin-bottom: 15px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    position: relative;
    @media screen and (min-width: $w-tablet) {
      width: 16%;
      height: 108px;
      margin-bottom: 5px;
      margin-right: 0.3%;
      margin-left: 0.3%;
    }
    @media screen and (min-width: $w-desktop) {
      width: 140px;
      height: 140px;
      margin-right: 0;
      margin-left: 19px;
      margin-bottom: 19px;
    }
    &:nth-child(n+7){
      display: none;
      @media screen and (min-width: $w-tablet) {
        display: block;
      }
    }
    &:nth-child(6){
      &:after{
        content: 'Все фото';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(146,4,44,0.47);
        text-transform: uppercase;
        font-family: Lato, sans-serif;
        font-weight: $medium;
        font-size: 19px;
        line-height: 24px;
        color: $white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
        box-sizing: border-box;
        @media screen and (min-width: $w-tablet) {
          display: none;
        }
      }
    }
    &:nth-child(n+13){
      @media screen and (min-width: $w-tablet) {
        display: none;
      }
    }
    &:nth-child(12){
      &:after{
        @media screen and (min-width: $w-tablet) {
          content: 'Все фото';
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(146, 4, 44, 0.47);
          text-transform: uppercase;
          font-family: Lato, sans-serif;
          font-weight: $medium;
          font-size: 19px;
          line-height: 24px;
          color: $white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 50px;
          box-sizing: border-box;
        }
        @media screen and (min-width: $w-desktop) {
          display: none;
        }
      }
    }
    &:nth-child(n+10){
      @media screen and (min-width: $w-desktop) {
        display: none;
      }
    }
    &:nth-child(9){
      &:after{
        @media screen and (min-width: $w-desktop) {
          content: 'Все фото';
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(70, 70, 70, 0.7);
          text-transform: uppercase;
          font-family: Lato, sans-serif;
          font-weight: $medium;
          font-size: 16px;
          line-height: 24px;
          color: $white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 50px;
          box-sizing: border-box;
        }
      }
    }
  }
}