.index-bl1{
  padding-top: 30px;
  margin-bottom: 50px;
  position: relative;
  @media screen and (min-width: $w-tablet) {
    min-height: 345px;
    padding-top: 6px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $w-desktop) {
    margin-bottom: 128px;
    padding-top: 155px;
  }
  &__bg{
    display: none;
    @media screen and (min-width: $w-tablet) {
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
    }
    @media screen and (min-width: $w-desktop) {
      opacity: 0.4;
    }
  }
  &__container{
    @media screen and (min-width: $w-tablet) {
      position: relative;
    }
  }
  &__ttl{
    display: none;
    @media screen and (min-width: $w-tablet) {
      display: block;
      font-size: 31px;
      color: $gray-41;
      line-height: 36px;
      margin-bottom: 18px;
      font-weight: $extra-bold;
      font-family: Gilroy, sans-serif;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 60px;
      line-height: 72px;
      margin-bottom: 45px;
    }
  }
  &__prev{
    font-size: 16px;
    line-height: 31px;
    color: $gray-41;
    font-weight: $medium;
    @media screen and (min-width: $w-tablet) {
      font-size: 14px;
      line-height: 23px;
      margin-bottom: 29px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 18px;
      line-height: 31px;
      margin-bottom: 46px;
    }
  }
  &__slider{
    @media screen and (min-width: $w-tablet) {
      position: absolute;
      right: 10px;
      top: 45px;
    }
    @media screen and (min-width: $w-desktop) {
      right: 10px;
      top: 15px;
    }
  }
  &__cnt{
    @media screen and (min-width: $w-tablet) {
      padding-bottom: 25px;
      width: calc(100% - 300px);
    }
    @media screen and (min-width: $w-desktop) {
      width: calc(100% - 560px);
      padding-bottom: 40px;
    }
  }
  &__contacts{
    display: none;
    @media screen and (min-width: $w-tablet) {
      display: block;
      position: absolute;
      right: 44px;
      top: -16px;
    }
    @media screen and (min-width: $w-desktop) {
      display: flex;
      top: -87px;
    }
  }
  &__contacts-bl{
    &:nth-child(1){
      @media screen and (min-width: $w-desktop) {
        margin-right: 33px;
      }
    }
    &:nth-child(2){
      @media screen and (min-width: $w-tablet) {
        display: none;
      }
      @media screen and (min-width: $w-desktop) {
        display: block;
      }
    }
  }
  &__contacts-line{
    @media screen and (min-width: $w-tablet) {
      display: block;
      font-size: 14px;
      line-height: 22px;
      font-family: Gilroy, sans-serif;
      font-weight: $extra-bold;
      text-transform: uppercase;
      background-repeat: no-repeat;
      background-position-y: center;
      color: $gray-23;
      letter-spacing: 1.3px;
      padding-left: 40px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 1.5px;
      padding-left: 32px;
    }
    &_tel{
      @media screen and (min-width: $w-tablet) {
        background-image: url('images/phone-red.png');
        background-position-x: 3px;
        background-size: 9px 17px;
      }
      @media screen and (min-width: $w-desktop) {
        background-size: 9px 16px;
      }
    }
    &_email{
      @media screen and (min-width: $w-tablet) {
        background-image: url('images/email-red.png');
        background-position-x: 0;
        background-size: 15px 10px;
      }
      @media screen and (min-width: $w-desktop) {
        background-size: 18px 11px;
      }
    }
    &_pin{
      @media screen and (min-width: $w-desktop) {
        background-image: url('images/pin-red.png');
        background-position-x: 2px;
        background-size: 12px 15px;
      }
    }
    &_building{
      @media screen and (min-width: $w-desktop) {
        background-image: url('images/building-red.png');
        background-position-x: 0;
        background-size: 15px 16px;
      }
    }
  }
  &__btn{
    display: none;
    transition: .5s;
    @media screen and (min-width: $w-tablet) {
      display: block;
      width: 196px;
      height: 38px;
      background-color: $white;
      border: 1px solid $gray-ce;
      text-align: center;
      text-transform: uppercase;
      font-weight: $extra-bold;
      font-size: 12px;
      line-height: 38px;
      color: $bordo-a9;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 58px;
      width: 217px;
      height: 56px;
    }
    &:hover{
      box-shadow: $shadow-bordo;
    }
  }
}
.index-bl2{
  margin-bottom: 75px;
  @media screen and (min-width: $w-tablet) {
    margin-bottom: 55px;
  }
  @media screen and (min-width: $w-desktop) {
    display: flex;
    margin-bottom: 78px;
  }
  &__c1{
    max-width: 470px;
    margin-bottom: 30px;
    @media screen and (min-width: $w-desktop) {
      max-width: none;
      width: 470px;
      flex: 0 0 auto;
      margin-bottom: 0;
      margin-right: 70px;
    }
  }
  &__c2{
    @media screen and (min-width: $w-desktop) {
      padding-top: 20px;
    }
  }
  &__prev{
    font-weight: $medium;
    color: $gray-41;
    font-size: 16px;
    line-height: 31px;
    @media screen and (min-width: $w-tablet) {
      font-size: 14px;
      line-height: 24px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 18px;
      line-height: 31px;
    }
  }
}
.total-area{
  margin-bottom: 44px;
  @media screen and (min-width: $w-tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  @media screen and (min-width: $w-desktop) {
    justify-content: flex-start;
  }
  &__size{
    @include bg-img(contain);
    color: $bordo-a9;
    font-size: 37px;
    height: 122px;
    margin-bottom: 6px;
    font-weight: $extra-bold;
    font-family: Gilroy, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: $white 3px 3px 0, $white -3px -3px 0,
    $white -3px 3px 0, $white 3px -3px 0;
    @media screen and (min-width: $w-tablet) {
      width: 315px;
      height: 130px;
      flex: 0 0 auto;
      margin-right: 50px;
    }
    @media screen and (min-width: $w-desktop) {
      width: 391px;
      height: 156px;
      font-size: 56px;
      line-height: 31px;
      margin-right: 38px;
    }
  }
  &__ttl{
    text-align: center;
    font-size: 25px;
    font-weight: $extra-bold;
    font-family: Gilroy, sans-serif;
    color: $gray-41;
    max-width: 210px;
    margin: 0 auto;
    @media screen and (min-width: $w-tablet) {
      font-size: 24px;
      line-height: 25px;
      text-align: left;
      max-width: 200px;
      margin: 0;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 30px;
      line-height: 30px;
      max-width: 250px;
    }
  }
}
.buildings{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: $w-desktop) {
    //justify-content: flex-start;
  }
  &__item{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 35px;
    &:nth-child(1){
      @media screen and (min-width: $w-tablet) {
        margin-right: 25px;
      }
      @media screen and (min-width: $w-desktop) {
        margin-right: 50px;
      }
    }
  }
  &__img{
    @include bg-img(contain);
    margin-right: 30px;
    @media screen and (min-width: $w-desktop) {
      margin-right: 25px;
    }
    &_tc{
      width: 164px;
      height: 69px;
      @media screen and (min-width: $w-desktop) {
        width: 183px;
        height: 77px;
      }
    }
    &_off{
      width: 164px;
      height: 107px;
      @media screen and (min-width: $w-desktop) {
        width: 89px;
        height: 103px;
      }
    }
  }
  &__count{
    font-size: 54px;
    line-height: 32px;
    font-weight: $extra-bold;
    font-family: Gilroy, sans-serif;
    color: $bordo-a9;
    margin-bottom: 7px;
    @media screen and (min-width: $w-desktop) {
      font-size: 60px;
      line-height: 31px;
    }
  }
  &__ttl{
    font-weight: $extra-bold;
    font-family: Gilroy, sans-serif;
    font-size: 22px;
    line-height: 25px;
    @media screen and (min-width: $w-desktop) {
      font-size: 30px;
      line-height: 30px;
    }
  }
}
.index-bl3{
  margin-bottom: 90px;
  @media screen and (min-width: $w-tablet) {
    margin-bottom: 58px;
  }
  @media screen and (min-width: $w-desktop) {
    margin-bottom: 96px;
  }
}
.index-bl4{
  margin-bottom: 90px;
  @media screen and (min-width: $w-tablet) {
    margin-bottom: 58px;
  }
  @media screen and (min-width: $w-desktop) {
    margin-bottom: 120px;
  }
}
.index-bl5{
  margin-bottom: 80px;
  @media screen and (min-width: $w-tablet) {
    margin-bottom: 118px;
  }
  @media screen and (min-width: $w-desktop) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 136px;
  }
}
.news-prev-bl {
  @media screen and (min-width: $w-desktop) {
    //width: 90%;
  }
  &:nth-child(n+2) {
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
    }
  }
}
.news-prev-list{
  margin-bottom: 15px;
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
  @media screen and (min-width: $w-tablet) {
    overflow-x: hidden;
  }
  @media screen and (min-width: $w-desktop) {
    margin-bottom: 0;
  }
  &:after{
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;

  }
}
.news-prev{
  min-width: 230px;
  width: 48%;
  flex: 0 0 auto;
  margin-bottom: 15px;
  @media screen and (min-width: $w-tablet) {
    width: 48%;
    margin-bottom: 0;
  }
  @media screen and (min-width: $w-desktop) {
    display: flex;
    width: 100%;
  }
  &:nth-child(1){
    margin-right: 20px;
    @media screen and (min-width: $w-tablet) {
      margin-right: 0;
    }
  }
  &:nth-child(n+2){
    @media screen and (min-width: $w-desktop) {
      display: none;
    }
  }
  &__img{
    @include bg-img(cover);
    display: block;
    width: 100%;
    height: 140px;
    position: relative;
    background-color: $gray-ce;
    margin-bottom: 22px;
    @media screen and (min-width: $w-tablet) {
      height: 304px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: $w-desktop) {
      width: 220px;
      height: 286px;
      flex: 0 0 auto;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  &__cnt{
    @media screen and (min-width: $w-desktop) {
      flex: 0 0 auto;
      padding-top: 12px;
      width: 300px;
    }
  }
  &__date{
    position: absolute;
    right: 0;
    top: 0;
    width: 62px;
    height: 62px;
    color: $white;
    text-align: center;
    background-color: $bordo-c1;
    padding-top: 12px;
    box-sizing: border-box;
    @media screen and (min-width: $w-tablet) {
      top: auto;
      bottom: 0;
      width: 60px;
      height: 60px;
    }
    @media screen and (min-width: $w-desktop) {
      top: 0;
      bottom: auto;
    }
  }
  &__date-d{
    font-size: 25px;
    line-height: 25px;
    font-family: Gilroy, sans-serif;
    font-weight: $light;
    margin-bottom: 4px;
    @media screen and (min-width: $w-tablet) {
      font-size: 25px;
      font-weight: $extra-bold;
    }
    @media screen and (min-width: $w-desktop) {
      font-weight: $light;
      font-size: 24px;
      margin-bottom: 2px;
    }
  }
  &__date-m{
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: $medium;
    font-size: 12px;
    line-height: 12px;
    @media screen and (min-width: $w-tablet) {

    }
  }
  &__ttl{
    font-size: 18px;
    line-height: 23px;
    color: $gray-41;
    font-weight: $extra-bold;
    font-family: Gilroy, sans-serif;
    margin-bottom: 11px;
    display: inline-block;
    @media screen and (min-width: $w-tablet) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: $w-desktop) {
      margin-bottom: 19px;
    }
  }
  &__prev{
    color: $gray-8c;
    font-size: 14px;
    line-height: 23px;
    font-family: Lato, sans-serif;
    font-weight: $medium;
    @media screen and (min-width: $w-tablet) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 11px;
    }
    @media screen and (min-width: $w-desktop) {
      line-height: 22px;
      margin-bottom: 14px;
    }
  }
  &__read-more{
    display: none;
    @media screen and (min-width: $w-tablet) {
      display: inline-block;
      color: $bordo-c1;
      font-size: 14px;
      line-height: 30px;
      font-family: Lato, sans-serif;
      font-weight: $medium;
    }
    &:after{
      @media screen and (min-width: $w-tablet) {
        content: '';
        display: inline-block;
        background-image: url('images/read-more.png');
        background-repeat: no-repeat;
        background-position: right center;
        margin-left: 10px;
        width: 21px;
        height: 10px;
      }
    }
  }
}
.news-prev-head{
  @media screen and (min-width: $w-desktop) {
    margin-bottom: 15px;
  }
}