extends core/_template

append sharedVars
	- var activeMenu = 'О компании';

block title
	title=activeMenu

block content
	.workarea
		.page-about
			.container
				.page-head
					.breadcrumbs
						a._item(href="#") Главная
						span._item /
						span._item о компании
					.page-ttl О компании

				.page-body
					.about-slider
						- for (var i=0;i<4;i++)
							._item
								._txt.
									«Титан-Девелопмент» – региональная компания на рынке коммерческой недвижимости Архангельской области. «Титан-Девелопмент» входит  в группу компаний «Титан» и успешно работает с 2005 года. Производит весь комплекс услуг, связанный с развитием, обслуживанием и продвижением коммерческой недвижимости на территории Архангельской области.
								._img(style="background-image:url('https://picsum.photos/500?image=10"+i+"')")
					div
						div
						div.
							ООО «Титан-Девелопмент» входит в группу компаний «ТИТАН», что обеспечивает высокое  качество корпоративного управления и бизнес процессов, позволяет динамично развиваться, используя имеющиеся ресурсы, сохраняя репутацию надежного партнера и обеспечивая непреложное качество услуг и эффективность инвестиций, при работе с нашими партнерами и контрагентами.
					div
						div Принципы работы
						div
							div
								div
								div Персонал компании — её главный капитал
								div.
									Мы — команда единомышленников, каждый из которых работает максимально эффективно для достижения общих результатов на принципах профессионализма и взаимовыручки, в атмосфере доверия и открытости.

					div
						div Сотрудники компании
						div
							div
								div фото
								div
									div Гордеев Андрей Викторович
									div Заместитель генерального директора
									a(href="mailto:gordeev@tdevelop.ru") gordeev@tdevelop.ru
									div.
										Мы — команда единомышленников, каждый из которых работает максимально эффективно для достижения общих результатов


	//end workarea