extends core/_template

append sharedVars
	- var activeMenu = 'О компании';

block title
	title=activeMenu

block content
	.workarea
		.page-about
			.container
				.page-head
					.breadcrumbs
						a._item(href="#") Главная
						span._item /
						span._item=activeMenu
					.page-ttl=activeMenu

			.page-body
				.page-about__bl1
					.container
						.about-slider
							- for (var i=0;i<4;i++)
								._item
									._txt.
										#{i} «Титан-Девелопмент» – региональная компания на рынке коммерческой недвижимости Архангельской области. «Титан-Девелопмент» входит  в группу компаний «Титан» и успешно работает с 2005 года. Производит весь комплекс услуг, связанный с развитием, обслуживанием и продвижением коммерческой недвижимости на территории Архангельской области.
									._img(style="background-image:url('https://picsum.photos/500?image=10"+i+"')")
				.page-about__bl2
					.container
						.titan-info
							.titan
								._img
									img(src="images/logo-titan.png")
								._txt.
									ООО «Титан-Девелопмент» входит в <a href="#">группу компаний «ТИТАН»</a>, что обеспечивает высокое  качество корпоративного управления и бизнес процессов, позволяет динамично развиваться, используя имеющиеся ресурсы, сохраняя репутацию надежного партнера и обеспечивая непреложное качество услуг и эффективность инвестиций, при работе с нашими партнерами и контрагентами.
							.titan2
								.total-area
									._size(style="background-image:url('images/shape1.png')") 99 403,6 м<sup>2</sup>
									._ttl общая площадь недвижимости
								.buildings
									._item
										._img.-tc(style="background-image:url('images/malls.svg')")
										._cnt
											._count 5
											._ttl торговых<br>центров
									._item
										._img.-off(style="background-image:url('images/offices.svg')")
										._cnt
											._count 6
											._ttl офисных<br>центров
				.page-about__bl3
					.container
						.principles
							._ttl.ttl-center Принципы работы
							._list.principles-slider
								._item
									._img(style="background-image:url('images/principles1.svg')")
									._cnt
										._name Персонал компании — её главный капитал
										._txt.
											Мы — команда единомышленников, каждый из которых работает максимально эффективно для достижения общих результатов на принципах профессионализма и взаимовыручки, в атмосфере доверия и открытости.
								._item
									._img(style="background-image:url('images/principles2.svg')")
									._cnt
										._name Ориентация на требования клиентов
										._txt.
											Весь бизнес компании — от проектирования и строительства до сдачи в аренду и управления недвижимостью — строится на том, чтобы очень внимательно выслушивать пожелания каждого заказчика.
								._item
									._img(style="background-image:url('images/principles3.svg')")
									._cnt
										._name Непрерывное обучение и развитие
										._txt.
											Обучение персонала и дополнительная профессиональная подготовка считаются высшими приоритетами компании. Тактика компании основана на желании и способности сотрудников черпать знания из любого источника и быстро преобразовывать их в действия.
								._item
									._img(style="background-image:url('images/principles4.svg')")
									._cnt
										._name Идеи и инновации
										._txt.
											Компания формирует менталитет сотрудников, направленный на поиск и реализацию лучших практических приемов и внедрение новаций, отмечая лучшие практические предложения и вознаграждая сотрудников за выдвижение ценных идей.
								._item
									._img(style="background-image:url('images/principles5.svg')")
									._cnt
										._name Качество
										._txt.
											Компания обеспечивает строгий профессиональный контроль над качеством строительных работ, тщательно прорабатывая все детали, и оптимальность всех решений при реализации прав на недвижимость.
								._item
									._img(style="background-image:url('images/principles6.svg')")
									._cnt
										._name Прозрачность и открытость
										._txt.
											Мы обеспечиваем прозрачность структуры собственности компании, адекватность финансовой отчетности, открытость при взаимоотношениях с инвесторами.

				.page-about__bl4
					.container
						.employees
							._ttl.ttl-center Сотрудники компании
							._list.employees-slider
								- for (var i=0;i<2;i++)
									._item
										._inner
											._img(style="background-image:url('http://www.potashnikov.com/gallary/d/40785-1/Aleksandr-Kutas.jpg')")
											._cnt
												._name ГОРДЕЕВ Андрей Викторович
												._d Заместитель генерального директора
												a._email(href="mailto:gordeev@tdevelop.ru") gordeev@tdevelop.ru
												._quote.
													Мы — команда единомышленников, каждый из которых работает максимально эффективно для достижения общих результатов
									._item
										._inner
											._img(style="background-image:url('http://www.potashnikov.com/gallary/d/40789-1/Dmitriy-Ismagulov.jpg')")
											._cnt
												._name ЗЫКОВ Алексей Вадимович
												._d Заместитель генерального директора
												a._email(href="mailto:gordeev@tdevelop.ru") gordeev@tdevelop.ru
												._quote.
													Тактика компании основана на желании и способности сотрудников черпать знания из любого источника и быстро преобразовывать их в действия.
	//end workarea