extends core/_template

append sharedVars
	- var activeMenu = 'Аренда';

block title
	title=activeMenu

block content
	.workarea
		.page-arenda
			.page-head
				.container
					.breadcrumbs
						a._item(href="#") Главная
						span._item /
						span._item=activeMenu
					.arenda-ttl
						.page-ttl=activeMenu
						button.fltr-btn.js-open-filtr(type="button")

			.filtr-line
				include blocks/_filtr
			.page-body
				.container
					.arenda
						form._tumblr
							input._tumblr-grid.active(type="submit" value="")
							input._tumblr-list(type="submit" value="")
						._sort
							.sort
								a._item(href="#")
									span Стоимость аренды
									i.fas.fa-sort
								a._item(href="#")
									span Общая площадь
									i.fas.fa-sort
								a._item(href="#")
									span Актуальность
									i.fas.fa-sort
						._list
							.arenda-grid
								- for (var i=0; i<10; i++)
									._item
										._head
											a._img(href="#" style="background-image:url('https://picsum.photos/500')")
												._ttl Большое  торговое помещение на 3 этаже Титан-Арена
											._inf
												._inf-price
													._inf-price1 198 000 <span class="rub">Ь</span>
													._inf-price2 месяц
												._inf-size 200 м<sup>2</sup>
										._prev
											._prev-row
												._prev-c1
													span тип
												._prev-c2 Тоговое помещение
											._prev-row
												._prev-c1
													span этаж
												._prev-c2 3 этаж
											._prev-row
												._prev-c1
													span адрес
												._prev-c2
													a(href="#") Титан арена<br>Воскресенская, 20
										a._more(href="#") Подробнее
						._pagination
							include blocks/_pagination
	//end workarea