extends core/_template

append sharedVars
	- var activeMenu = 'Главная';

block title
	title=activeMenu

block content
	.workarea
		.index-bl1
			._bg(style="background-image: url('images/index-bg1.jpg');")
			._container.container
				._slider
					.slider-index-sm
						- for (var i=0;i<4;i++)
							._item
								._cnt
									a._ttl(href="#") Ареда офисов в новом бизнес-центре на Поморской
									._prev Четырехэтажный корпус Бизнес-центра расположен в центре деловой части города насчитывает более 120 офисов
								a._img(href="#" style="background-image:url('https://picsum.photos/500?image=10"+i+"')")


				._contacts
					._contacts-bl
						a._contacts-line.-tel(href="tel:8182207485") (8182) 20-74-85
						a._contacts-line.-email(href="mailto:office@tdevelop.ru") office@tdevelop.ru
					._contacts-bl
						._contacts-line.-pin Архангельск
						._contacts-line.-building Поморская, 7
				._cnt
					._ttl Мы постоянно растем над собой  и совершенствуем все, что вокруг нас!
					._prev.
						«Титан-Девелопмент» – региональная компания на рынке коммерческой недвижимости Архангельской области. «Титан-Девелопмент» входит в группу компаний «Титан» и успешно работает с 2005 года. Производит весь комплекс услуг, связанный с развитием, обслуживанием и продвижением коммерческой недвижимости на территории Архангельской области.
					a._btn(href="#") О компании

		.container
			.index-bl2
				._c1
					._h.h Миссия компании
					._prev.
						Используя передовой российский и международный опыт в области консалтинга, строительства, управления недвижимостью, понимая перспективы развития города, команда высококвалифицированных специалистов нашей компании создает комфортные условия для Вашего бизнеса и полноценной жизни горожан.
				._c2
					.total-area
						._size(style="background-image:url('images/shape1.png')") 99 403,6 м2
						._ttl общая площадь недвижимости
					.buildings
						._item
							._img.-tc(style="background-image:url('images/malls.png')")
							._cnt
								._count 5
								._ttl торговых<br>центров
						._item
							._img.-off(style="background-image:url('images/offices.png')")
							._cnt
								._count 6
								._ttl офисных<br>центров
			.index-bl3
				.h Торговая недвижимость
			.index-bl4
				.h Офисная недвижимость
			.index-bl5
				div
					.h Новости компании
				div
					.h Публикации в СМИ

	//end workarea