extends core/_template

append sharedVars
	- var activeMenu = 'Главная';

block title
	title=activeMenu

block content
	.workarea
		.index-bl1
			._bg(style="background-image: url('images/index-bg1.jpg');")
			._container.container
				._slider
					.slider-index-sm
						- for (var i=0;i<4;i++)
							._item
								._cnt
									a._ttl(href="#") Ареда офисов в новом бизнес-центре на Поморской
									._prev Четырехэтажный корпус Бизнес-центра расположен в центре деловой части города насчитывает более 120 офисов
								a._img(href="#" style="background-image:url('https://picsum.photos/500?image=10"+i+"')")


				._contacts
					._contacts-bl
						a._contacts-line.-tel(href="tel:8182207485") (8182) 20-74-85
						a._contacts-line.-email(href="mailto:office@tdevelop.ru") office@tdevelop.ru
					._contacts-bl
						._contacts-line.-pin Архангельск
						._contacts-line.-building Поморская, 7
				._cnt
					._ttl Мы постоянно растем над собой  и совершенствуем все, что вокруг нас!
					._prev.
						«Титан-Девелопмент» – региональная компания на рынке коммерческой недвижимости Архангельской области. «Титан-Девелопмент» входит в группу компаний «Титан» и успешно работает с 2005 года. Производит весь комплекс услуг, связанный с развитием, обслуживанием и продвижением коммерческой недвижимости на территории Архангельской области.
					a._btn(href="#") О компании

		.container
			.index-bl2
				._c1
					.bl-ttl Миссия компании
					._prev.
						Используя передовой российский и международный опыт в области консалтинга, строительства, управления недвижимостью, понимая перспективы развития города, команда высококвалифицированных специалистов нашей компании создает комфортные условия для Вашего бизнеса и полноценной жизни горожан.
				._c2
					.total-area
						._size(style="background-image:url('images/shape1.png')") 99 403,6 м<sup>2</sup>
						._ttl общая площадь недвижимости
					.buildings
						._item
							._img.-tc(style="background-image:url('images/malls.png')")
							._cnt
								._count 5
								._ttl торговых<br>центров
						._item
							._img.-off(style="background-image:url('images/offices.png')")
							._cnt
								._count 6
								._ttl офисных<br>центров
			.index-bl3
				.bl-head
					.bl-ttl Торговая недвижимость
					a.bl-all(href="#")
						span Все торговые центры
				.bl-body
					.obj-slider-bl
						.obj-slider
							ul._list
								- for (var i=0;i<3;i++)
									li._slide
										a._item(href="#")
											._cnt
												._img(style="background-image:url('images/tn1.png')")
												._ttl ТРК «Титан-Арена»
												._num
													._num-cur 1
													._num-sep /
													._num-from 7
												._desctiption
													._desctiption-bl.
														Воскресенская, 20<br>
														Открыт: 12 декабря 2014
													._desctiption-bl.
														Торгово-развлекательный<br>
														центр, 5 этажей
													._desctiption-bl.
														Общая площадь:<br>
														38 000 кв2
													._desctiption-bl.
														Парковка:<br>
														650 машиномест
									li._slide
										a._item(href="#")
											._cnt
												._img(style="background-image:url('images/tn2.png')")
												._ttl Центральный универмаг
												._num
													._num-cur 2
													._num-sep /
													._num-from 7
												._desctiption
													._desctiption-bl.
														Поморская, 9<br>
														Открыт: 31 мая 2014
													._desctiption-bl.
														Торгововый центр<br>
														4 этажа
													._desctiption-bl.
														Общая площадь:<br>
														35 000 кв2
													._desctiption-bl.
														Парковка:<br>
														350 машиномест
									li._slide
										a._item(href="#")
											._cnt
												._img(style="background-image:url('images/tn3.png')")
												._ttl Магазин «Светлана»
												._num
													._num-cur 3
													._num-sep /
													._num-from 7
												._desctiption
													._desctiption-bl.
														Поморская, 9<br>
														Открыт: 31 мая 2014
													._desctiption-bl.
														Торгововый центр<br>
														4 этажа
													._desctiption-bl.
														Общая площадь:<br>
														35 000 кв2
													._desctiption-bl.
														Парковка:<br>
														350 машиномест
						ul.sly-pages
						.obj-slider-controls
							button.sly-btn.prevPage
							button.sly-btn.nextPage
						.sly-scrollbar
							.sly-handle
								.sly-mousearea
				.bl-footer
					a.bl-all(href="#")
						span Все торговые центры
			.index-bl4
				.bl-head
					.bl-ttl Офисная недвижимость
					a.bl-all(href="#")
						span Все офисные центры
				.bl-body
					.obj-slider-bl
						.obj-slider
							ul._list
								- for (var i=0;i<4;i++)
									li._slide
										a._item(href="#")
											._cnt
												._img(style="background-image:url('images/of1.png')")
												._ttl Бизнес-центр на Поморской, 7
												._num
													._num-cur 1
													._num-sep /
													._num-from 7
												._desctiption
													._desctiption-bl.
														Поморская, 7<br>
														Открыт: 12 декабря 2014
													._desctiption-bl.
														Бизнес-центр,<br>
														5 этажей
													._desctiption-bl.
														Общая площадь:<br>
														38 000 кв2
													._desctiption-bl.
														Парковка: <br>
														650 машиномест
									li._slide
										a._item(href="#")
											._cnt
												._img(style="background-image:url('images/of2.png')")
												._ttl Бизнес-центр на Поморской, 5
												._num
													._num-cur 2
													._num-sep /
													._num-from 7
												._desctiption
													._desctiption-bl.
														Поморская, 5<br>
														Открыт: 12 декабря 2014
													._desctiption-bl.
														Бизнес-центр,<br>
														4 этажа
													._desctiption-bl.
														Общая площадь:<br>
														29 000 кв2
													._desctiption-bl.
														Парковка: <br>
														650 машиномест
						ul.sly-pages
						.obj-slider-controls
							button.sly-btn.prevPage
							button.sly-btn.nextPage
						.sly-scrollbar
							.sly-handle
								.sly-mousearea
				.bl-footer
					a.bl-all(href="#")
						span Все торговые центры
			.index-bl5
				.news-prev-bl
					.bl-head
						.bl-ttl Новости компании
						a.bl-all(href="#")
							span Все новости
					.bl-body
						.news-prev-list
							.news-prev
								a._img(href="#" style="background-image:url('https://picsum.photos/600')")
									._date
										._date-d 20
										._date-m дек
								._cnt
									a._ttl(href="#") В бильярдном клубе «Аристократ» состоялся бильярдный турнир
									._prev.
										9 декабря на территории бильярдного клуба «Аристократ» в ТРК «Титан Арена» прошел бильярдный турнир по «комбинированной пирамиде».<br>
										Здесь собрались поистине короли бильярда. По мнению участников и гостей турнира,
									a._read-more(href="#") Читать полностью
							.news-prev
								a._img(href="#" style="background-image:url('https://picsum.photos/600')")
									._date
										._date-d 20
										._date-m дек
								._cnt
									a._ttl(href="#") В бильярдном клубе «Аристократ» состоялся бильярдный турнир
									._prev.
										9 декабря на территории бильярдного клуба «Аристократ» в ТРК «Титан Арена» прошел бильярдный турнир по «комбинированной пирамиде».<br>
										Здесь собрались поистине короли бильярда. По мнению участников и гостей турнира,
									a._read-more(href="#") Читать полностью
					.bl-footer
						a.bl-all(href="#")
							span Все новости
				.news-prev-bl
					.bl-head
						.bl-ttl Публикации в СМИ
						a.bl-all(href="#")
							span Все публикации
					.bl-body
						.news-prev
							a._img(href="#" style="background-image:url('https://picsum.photos/600')")
								._date
									._date-d 21
									._date-m янв
							._cnt
								a._ttl(href="#") В бильярдном клубе «Аристократ» состоялся бильярдный турнир
								._prev.
									9 декабря на территории бильярдного клуба «Аристократ» в ТРК «Титан Арена» прошел бильярдный турнир по «комбинированной пирамиде».<br>
									Здесь собрались поистине короли бильярда. По мнению участников и гостей турнира,
								a._read-more(href="#") Читать полностью
	//end workarea