extends core/_template

append sharedVars
	- var activeMenu = 'Главная';

block title
	title=activeMenu

block content
	.workarea
		.container
			.index-bl1
				div слайдер Ареда офисов в новом бизнес-центре на Поморской
				div Мы постоянно растем над собой  и совершенствуем все, что вокруг нас!
				div.
					«Титан-Девелопмент» – региональная компания на рынке коммерческой недвижимости Архангельской области. «Титан-Девелопмент» входит в группу компаний «Титан» и успешно работает с 2005 года. Производит весь комплекс услуг, связанный с развитием, обслуживанием
					и продвижением коммерческой недвижимости на территории Архангельской области.
			.index-bl1
				div Миссия компании
				div.
					Используя передовой российский и международный опыт в области консалтинга, строительства, управления недвижимостью, понимая перспективы развития города, команда высококвалифицированных специалистов нашей компании создает комфортные условия для Вашего бизнеса и полноценной жизни горожан.
				div img
			.index-bl1 Торговая недвижимость
			.index-bl1 Офисная недвижимость
			.index-bl1
				div Новости компании
				div Публикации в СМИ

	//end workarea