extends core/_template

append sharedVars
	- var activeMenu = 'Новости';

block title
	title=activeMenu

block content
	.workarea
		.page-detail
			.page-head
				.container
					.breadcrumbs
						a._item(href="#") Главная
						span._item /
						a._item(href="#") Носовти компании
						span._item /
						span._item Администратор гостиницы Двина признан лучшим по профессии
					.page-detail-ttl
						.page-ttl Администратор гостиницы Двина признан лучшим по профессии
						a.back-to(href="#")
							span Вернуться к новостям

			.page-body
				.news-detail
					._container.container
						._body
							._head
								._detail-img(style="background-image:url('https://picsum.photos/600')")
								._panel
									._date 24 октября 2017
									._share
										._share-ttl поделитесь с друзьями
										._share-body
											include blocks/_share
							._text
								p По итогам конкурса второе место в номинации «Лучший работник службы приема и размещения гостиницы/иного средства размещения» завоевала Ольга Скобелева, кассир-администратор гостиницы «Двина» (г. Архангельск).

								p Архангельская область второй раз участвует в престижном всероссийском конкурсе «Лучший по профессии в индустрии туризма». И снова регион доказывает высокий уровень профессионализма сотрудников сферы гостеприимства. В 2017 году в федеральном этапе конкурса приняли участие четыре претендента от Архангельской области: Елена Кузнецова из Няндомы (номинация «Лучший экскурсовод (гид)»), Ольга Скобелева из Архангельска («Лучший работник службы приема и размещения гостиницы/иного средства размещения»), Надежда Гневашева из Коноши («Лучший менеджер по въездному и внутреннему туризму»), Светлана Усова из Архангельска («Лучший специалист службы эксплуатации номерного фонда (горничная)»). По итогам конкурса второе место в номинации «Лучший работник службы приема и размещения гостиницы/иного средства размещения» завоевала Ольга Скобелева, кассир-администратор гостиницы «Двина» (г. Архангельск).

								quote.
									Архангельская область — постоянный участник федеральных конкурсов
									в сфере туризма. Особое внимание уделяется повышению качества предоставляемых услуг, — отметила заместитель министра культуры Архангельской области по вопросам туризма Светлана Зеновская. — Наш регион ежегодно участвует в федеральной программе «Туробразование», за три года организовано повышение

								p.
									Напомним, к участию в конкурсе допускались специалисты, стаж которых в туротрасли составляет не менее трёх лет. Участники выполняли теоретические и практические задания, отражающие специфику их работы и знание нормативно-правовой базы сферы туризма, также учитывалась квалификация специалистов.

						._sidebar
							._gallery
								.news-detail-gallery.photo-gallery
									._list
										- for(var i=0;i<6;i++)
											a._item(href="images/TEMP/img1.jpg" style="background-image:url('images/TEMP/img1.jpg')")
											a._item(href="images/TEMP/img2.jpg" style="background-image:url('images/TEMP/img2.jpg')")
							._obj-ttl Объекты в новости
							._obj-list
								._obj-item
									a.obj-prev(href="#")
										._l
											._img(style="background-image:url('images/of1.png')")
										._r
											._ttl Гостиница «Двина»
											._addr.
												Архангельск<br>
												Троицкий пр-кт, д. 5

								._obj-item
									a.obj-prev(href="#")
										._l
											._img(style="background-image:url('images/of2.png')")
										._r
											._ttl Бизнес-центр «Айсберг»
											._addr.
												Архангельск<br>
												наб. Северной Двины, 30



	//end workarea