extends core/_template

append sharedVars
	- var activeMenu = 'Объекты';

block title
	title=activeMenu

block content
	.workarea
		.page-detail
			.page-head
				.container
					.breadcrumbs
						a._item(href="#") Главная
						span._item /
						a._item(href="#") Объекты
						span._item /
						span._item Торгово-развлекательный комплекс «Титан Арена»
					.page-detail-ttl
						.page-ttl Торгово-развлекательный комплекс «Титан Арена»
						a.back-to(href="#")
							span Вернуться к объектам

			.page-body
				.detail-photo-bl2
					.object-head
						._img(style="background-image:url('https://picsum.photos/600')")
						._inf
							._link
								a(href="http://titanarena.ru" target="_blank") titanarena.ru
							._ss
								a._ss-item(href="#" target="_blank")
									i.fab.fa-facebook-f
								a._ss-item(href="#" target="_blank")
									i.fab.fa-vk
								a._ss-item(href="#" target="_blank")
									i.fab.fa-instagram
					.detail-gallery2.photo-gallery
						._list
							- for(var i=0;i<6;i++)
								a._item(href="images/TEMP/img1.jpg" style="background-image:url('images/TEMP/img1.jpg')")
								a._item(href="images/TEMP/img2.jpg" style="background-image:url('images/TEMP/img2.jpg')")
				.detail-map-bl
					._map
						.map#map
						include blocks/_map
					._container
						._inf-bl
							._inf-ttl Конткатные данные объекта
							._inf-contacts.
								Архангельск, Воскресенская, 20<br>
								8 (981) 551-39-79<br>
								Администратор ТРЦ
						._inf-bl
							._inf-ttl Управляющая компания
							._inf-contacts.
								Титан-Девелопмент<br>
								Архангельск, Поморская, 7<br>
								(8182) 20-74-85
				.detail-video-bl
					.video
						._ttl Видеоролики
						._full
							.video-full
								-for(var i=0;i<3;i++)
									._item
										iframe(src="https://www.youtube.com/embed/pu15O9wsa94" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
									._item
										iframe(src="https://www.youtube.com/embed/9q3I6YhGSPY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
									._item
										iframe(src="https://www.youtube.com/embed/g3EsaymNvEA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
						._prev
							.video-prev
								-for(var i=0;i<3;i++)
									._item
										._img(style="background-image:url('https://picsum.photos/200')")
									._item
										._img(style="background-image:url('https://picsum.photos/201')")
									._item
										._img(style="background-image:url('https://picsum.photos/202')")
				.detail-similar-bl
					.container
						.bl-ttl2 Аренда помещений в «Титан Арена»
						.obj-more
							- for (var i=0; i<9; i++)
								._item
									include blocks/_object
				.detail-content-bl
					.container
						.detail-content
							.detail-plan
								._ttl Схема объекта
								._img.js-tag-img
									img(src="images/shem.png")
								._tags-list
									._tag.selected.js-tag(data-img="images/shem.png")
										span 1 этаж
									- for (var i=2;i<=5;i++)
										._tag.js-tag(data-img="images/of3.png")
											span #{i} этаж

							.detail-txt
								p Просторный, светлый офис с ремонтом. Офис оснащен: двумя кабинетами и openspace для сотрудников компании. Панорамное остекление. Круглосуточная система безопасности и контроля посетителей. Высота потолков 2,8 м

								p Ставка не включает переменную часть расходов. Для уточнения всей информации свяжитесь с нами по телефону.

								p Гостиница «Двина» находится в самом сердце Архангельска, на перекрестке транспортных магистралей, рядом с лучшими магазинами, ресторанами, банками, в центре кипучей жизни областного центра. Рядом расположена парковка на 50 автомобилей.

								p.
									ООО «Титан-Девелопмент» предлагает рассмотреть возможность аренды офисных помещений в гостинице «Двина» по адресу: г. Архангельск, пр. Троицкий, 52.<br>
									Заявки на аренду принимаются по телефону 207-582, факс 201-945.<br>
									E-mail: varakina_m@tdevelop.ru. Контактное лицо: Варакина Мария Владимировна.

				.detail-similar-bl
					.container.news-more-container
						.bl-ttl2 Новости объекта
						.news-more
							- for (var i=0; i<9; i++)
								._item
									include blocks/_news-one
						.news-more-all
							a.all-news(href="#")
								span все новости объекта
			include popups/_order
	//end workarea